<?php

declare(strict_types=1);

use OSM\Core\Abstracts\AbstractMigration;

class %s extends AbstractMigration
{
    /**
     * Do the migration
     */
    public function up()
    {
    }

    /**
     * Undo the migration
     */
    public function down()
    {
    }
}
